<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
<!--
    <bean class="ru.vlubchen.gradjava.repository.inmemory.InMemoryUserRepository" id="inMemoryUserRepository"/>
    <bean class="ru.vlubchen.gradjava.web.user.AdminRestController">
        <property name="repository" ref="inMemoryUserRepository"/>
    </bean>
    <bean class="ru.vlubchen.gradjava.web.user.ProfileRestController">
        <property name="repository" ref="inMemoryUserRepository"/>
    </bean>

    <bean class="ru.vlubchen.gradjava.repository.inmemory.InMemoryDishRepository" id="inMemoryDishRepository"/>
    <bean class="ru.vlubchen.gradjava.web.dish.DishRestController">
        <constructor-arg name="repository" ref="inMemoryDishRepository"/>
    </bean>
-->
    <import resource="spring-cache.xml"/>
    <import resource="spring-security.xml"/>

</beans>